@import url('normalize.css');

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {

    background-color: #7F737B;
    color: white;
}

.header {
    height: 100px;
    background-color: black;
    margin: 0;
    padding: 0;
    border-bottom: solid 4px #FF68C7;
    vertical-align: bottom;
}

h1 {
    /*background: #FF68C7;*/
    color: #ededed;
    text-align:center;
    padding:0;
    margin:0;
}

footer {
    height:100px;
}

#container {
    width: 700px;
    max-width: 80%;
    display:block;
    position:relative;
    margin:auto;
}

.item
.imgWrapper {
  float: left;
  width: 100px;
  height: 100px;
}

.imgWrapper {
  width: 100px;
  height: 100px;
      background-position: center center;
    background-size: cover;
    background-color: black;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  -webkit-transition: width 0.4s, height 0.4s;
     -moz-transition: width 0.4s, height 0.4s;
       -o-transition: width 0.4s, height 0.4s;
          transition: width 0.4s, height 0.4s;
}

.item:hover .item-content {
  border-color: red;
  cursor: pointer;
}

.item.is-expanded,
.item.is-expanded .imgWrapper {
  width: 200px;
  height: 200px;
}

.item.is-expanded {
  z-index: 2;
}


